# Copier ce fichier en .env et renseigner votre IP locale (ipconfig dans cmd)
# Exemple : EXPO_PUBLIC_AUTH_URL=http://192.168.1.50:8082/api/v1

EXPO_PUBLIC_AUTH_URL=http://192.168.1.X:8082/api/v1
EXPO_PUBLIC_PATIENT_URL=http://192.168.1.X:8081/api/v1
